<div class="card">
    <div class="card-header flex-row justify-space-between align-center">
        <h2 class="col-7">
            <a href="/post/{{id}}">
                {{title}}
            </a>
        </h2>
        <div class="col-5 text-end">
            Posted by {{user.username}} on {{format_date createdAt}}
        </div>
    </div>
    <div class="card-body">
        <p>
            {{body}}
        </p>
    </div>
</div>